@model IEnumerable<WebApplication_plataformas_de_desarrollo.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a type="button" class="btn btn-dark" asp-action="Create">Crear nuevo usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="text-@(item.bloqueado ? "danger" : (item.isAdmin?"success":"dark"))">
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                <a type="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@item.id">Editar</a>
                <a type="button" class="btn btn-dark" asp-action="Details" asp-route-id="@item.id">Detalles</a>
                    @if (item.bloqueado)
                    {
                        <a type="button" class="btn btn-dark" asp-action="Desbloquear" asp-route-id="@item.id">Desbloquear</a>
                    }else{
                        <a type="button" class="btn btn-dark" asp-action="Bloquear" asp-route-id="@item.id">Bloquear</a>
                    }
                <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
