@model IEnumerable<WebApplication_plataformas_de_desarrollo.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a type="button" class="btn btn-dark" asp-action="Create">Crear nuevo pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                pago
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-@(item.pagado?"muted":"dark")">
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metodo)
            </td>
            <td>
                @if(item.pagado){
                    <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
                }else{
                    <a type="button" class="btn btn-dark" asp-action="PagarConCaja" asp-route-id="@item.id">Pagar con caja de ahorro</a>
                    <a type="button" class="btn btn-dark" asp-action="PagarConTarjeta" asp-route-id="@item.id">Pagar con tarjeta</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
