@model IEnumerable<WebApplication_plataformas_de_desarrollo.Models.CajaDeAhorro>

@{
    ViewData["Title"] = "Index";
}

<h1>Cajas de ahorro</h1>

<p>
    <a type="button" class="btn btn-dark" asp-action="Create">Nueva caja de ahorro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cbu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titulares)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cbu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saldo)
            </td>
            <td>
                <ul>
                    @foreach (var titular in item.titulares)
                    {
                        var nombreTitular = titular.nombre.ToString() + " " + titular.apellido.ToString();
                        <li>@nombreTitular</li>
                    }
                 </ul>
                </td>
            <td>
                <a type="button" class="btn btn-dark" asp-action="Movimientos" asp-route-id="@item.id">Ver movimientos</a>
                <a type="button" class="btn btn-dark" asp-action="AgregarTitular" asp-route-id="@item.id">Agregar titular</a>
                <a type="button" class="btn btn-dark" asp-action="EliminarTitular" asp-route-id="@item.id">Eliminar titular</a>
                <a type="button" class="btn btn-dark" asp-action="Depositar" asp-route-id="@item.id">Depositar</a>
                <a type="button" class="btn btn-dark" asp-action="Retirar" asp-route-id="@item.id">Retirar</a>
                <a type="button" class="btn btn-dark" asp-action="Transferir" asp-route-id="@item.id">Transferir</a>
                <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
