@model IEnumerable<WebApplication_plataformas_de_desarrollo.Models.CajaDeAhorro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-dark" asp-action="Create">Nueva caja de ahorro</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cbu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cbu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saldo)
            </td>
            <td>
                <button type="button" class="btn btn-dark" asp-action="AgregarTitular" asp-route-id="@item.id">Agregar titular</button>
                <button type="button" class="btn btn-dark" asp-action="EliminarTitular" asp-route-id="@item.id">Eliminar titular</button>
                <button type="button" class="btn btn-dark" asp-action="Depositar" asp-route-id="@item.id">Depositar</button>
                <button type="button" class="btn btn-dark" asp-action="Retirar" asp-route-id="@item.id">Retirar</button>
                <button type="button" class="btn btn-dark" asp-action="Transferir" asp-route-id="@item.id">Transferir</button>
                <button type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.id">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
  
</div>
