@model WebApplication_plataformas_de_desarrollo.Models.CajaDeAhorro

@{
    ViewData["Title"] = "Movimientos";
}

<h1>Movimientos</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cbu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cbu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.saldo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.saldo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.titulares)
        </dt>
        <dd class="col-sm-10">
            @foreach (var titular in Model.titulares)
            {
                var nombreTitular = titular.nombre.ToString() + " " + titular.apellido.ToString();
                <li>@nombreTitular</li>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movimientos)
        </dt>
        <dd class="col-sm-10">
            @foreach (var movimiento in Model.movimientos)
            {
                <li>@movimiento</li>
            }
        </dd>
    </dl>
    <p class="text-danger">@ViewData["mensaje"]</p>

    <a asp-action="Index">Volver</a>
</div>
