@model WebApplication_plataformas_de_desarrollo.Models.CajaDeAhorro

@{
    ViewData["Title"] = "Transferir a caja de ahorro";
}

<h1>Transferir a caja de ahorro</h1>

<h3>¿Estas seguro que queres transferir desde esta caja de ahorro?</h3>
<div>
    <h4>Caja de ahorro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cbu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cbu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.saldo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.saldo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.titulares)
        </dt>
        <dd class="col-sm-10">
            @foreach (var movimiento in Model.movimientos)
            {
                <li>@movimiento</li>
            }
        </dd>
    </dl>

    <a asp-action="Index">Volver</a>
</div>
