@model WebApplication_plataformas_de_desarrollo.Models.Tarjeta

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estas seguro que queres eliminar la Tarjeta?</h3>
<div>
    <h4>Tarjeta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.limite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.limite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.consumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.consumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titular)
        </dt>
        <dd class = "col-sm-10">
            @{
                var nombreTitular = Model.titular.nombre.ToString() + " " + Model.titular.apellido.ToString();
            }
            @nombreTitular
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <p class="text-danger">@ViewData["mensaje"]</p>
        <input type="submit" value="Delete" class="btn btn-dark" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
