@model IEnumerable<WebApplication_plataformas_de_desarrollo.Models.Tarjeta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a type="button" class="btn btn-dark" asp-action="Create">Nueva Tarjeta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.limite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consumo)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.limite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.consumo)
            </td>
          
            <td>
                    
              
              <a type="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
